.chat__container{
    color: white;
    display: grid;
    justify-content: center;
    grid-template-columns: 40% 60%;
    grid-gap: 6rem;
    margin: 7rem 30rem;
}

.contact__list {
    position: sticky;
}

.image__container {
    width: 400px;
}

img {
    max-width: 100%;
}